.card
  border: 1px solid var(--tab-border-color)
  border-radius: 15px

  overflow: hidden
  position: relative

  .variantSelect
    position: absolute
    top: 0
    right: 0

    padding: 0.2rem 0.5rem
    border: none
    border-radius: 0 0 0 10px

    background-color: var(--button-bg-color)
    color: var(--button-color)

    cursor: pointer


  .bubble
    width: 100%
    aspect-ratio: 1/1

    background: url("/images/Bubble.png") center center / cover no-repeat

    .text
      display: flex
      align-items: center
      justify-content: center
      text-align: center

      height: 100%

      color: black


  .footer
    padding: 15px
    display: flex
    flex-direction: column
    gap: 15px

    .name
      font-weight: bold
